<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMDb|Search for movies|TV shows|</title>
    
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
    <link rel = "stylesheet" href = "css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <nav class = "navbar">
        <div class="nav-wrapper">
          <a href = "https://github.com/solarconstant/MoviesAPI" class = "list">GitHub</a>
          <a href="#" class="alpha">Alpha release</a>
          <a href="#" class="brand-logo right"><img src = 'images/SMDb.png' class = 'navlogo'></a>
          <ul class="left">
            <li><a href="/" class = "list">Home</a></li>
            <li><a href="/about" class = "list">About</a></li>
            <li><a href="/contact"class = "list">Contact</a></li>
          </ul>
        </div>
      </nav>
      
