<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMDb|Search for movies|TV shows|</title>    
    <link rel = "stylesheet" href = "/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap" rel="stylesheet">
</head>
<body>
  <header class="header">
		<a href="/" class="logo"><img src = "/images/SMDb.png" class = "navlogo"></a>
      <ul class="main-nav">
        <li><a href="/" class = "list">Home</a></li>
        <li><a href="/about" class = "list">About</a></li>
        <li><a href="/contact"class = "list">Contact</a></li>
        <a href = "https://github.com/solarconstant/MoviesAPI" class = "list">GitHub</a>
      </ul>
  </header>