<%- include ("partials/header") %>


<div class = "shubh">
    <h2>Made by:</h2>
    <h4>Shubh Ashish</h4>
</div>

<div class = "ashish">
    <h3>Hit me up @</h3>
    <ul>
        <li><a href = "https://www.facebook.com/shubh.ashish.9404/"><img src = "https://1000logos.net/wp-content/uploads/2016/11/Facebook-Logo.png"></a></li>
        <li><a href = "https://www.linkedin.com/in/shubh-ashish-a4a415190/"><img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Linkedin.svg/1200px-Linkedin.svg.png"></a></li>   
    </ul>
</div>




<%- include ("partials/footer") %>