<%- include ("partials/header") %>


<div class = "form">
  <img src = "images/bg.png" id = "bg">
  <form action="/results.ejs" method="POST" class = "form">
    <input type = "text" class = "input-movie" placeholder = "Search for a movie" name = "moviename"></input>
    <button type = "submit" class = "btn">Search</button>
</div>



<%- include ("partials/footer") %>