*
{
    font-family: 'Josefin Sans', sans-serif;
}

body
{
    background-color: #f4f6ff;
}

.navlogo
{
    height: inherit;
    width: 3rem;
    position: relative;
    margin-top: 20%;
}

.navbar
{
    background-color: black;  
}

input
{
    margin-top: 40%;
}

.list
{
    color: white;
}

a:hover
{
    color: #DBA506;
}

.navbar .nav-wrapper .alpha
{
    margin-left: 50%;
}

.card .card-image .avatar
{
    height: 150px;
    width: 150px;
    display: inline;
    margin-top: 5%;
}

.col .card .card-image
{
    text-align: center;
}

.row .col .register
{
    height: 70vh;
    width: 50%;
    text-align: center;
    justify-content: center;
}

.regform label
{
    color: black;
    font-size: 1.5rem;
}
.card-content .regform input
{
    width: 80%;
    display: block;
    border-color: black;
}
.rightlog a .login
{
    height: 15%;
    width: 60%;
    opacity: 50%;
}
.rightlog a .login:hover
{
    opacity: 100%;
}

.row .col .card-content .leftlog .submit
{
    height: 10%;
    width: 30%;
}

.row
{
    text-align: center;
}
.leftlog
{
    width: 40%;
    margin: 0;
    display: inline-block;
    margin-right: 5%;
}
.rightlog
{
    width: 45%;
    margin: 0;
    display: inline-block;
    margin-left: 5%;
    text-align: right;
}
.card-content
{
    text-align: left;
}

span
{
    color: black;
}

ul
{
    text-align: center;
    color: black;
}

li
{
    display: inline-block;
    width: 30%;
}

.activator
{
    height: 30rem;
    border-style: none;
}

.form .input
{
    position: absolute;
}

.card
{
    width: 80%;
    height: 20%;
    display: inline-block;
    text-align: center;
    background-color: #DBA506;
    border-bottom-left-radius: 2.5%;
    border-bottom-right-radius: 2.5%;
    box-shadow: 10px 10px 20px 1px #07031a;
    margin: 5%;
}

.card-content
{
    height: 15vh;
}

.card-content button
{
    background-color: black;
}

.card-content button:hover
{
    background-color: #DBA506;
}

.card .card-reveal
{
    background-color: #DBA506;
    text-align: center;
    justify-content: center;
}

.card-title
{
    border-bottom-style: dotted;
    border-bottom-width: 30%;
    border-bottom-color: black;
}

.content
{
    margin-top: 30%;
}

.frame
{
    margin-top: 10%;
}

.frame ul li img
{
    height: 100px;
    width: 100px;
}

.frame li
{
    font-size: 3rem;
}

.shubh
{
    text-align: center;
}

.ashish
{
    margin-top: 10%;
    text-align: center;
}

.ashish ul li img
{
    height: 200px;
    width: 200px;
}

@media only screen and (max-width: 1080px)
{
    .results
    {
        display: block;
        width: 100%;
    }

    .navbar .nav-wrapper .alpha
    {
        margin-left: 50%;
    }
    
    .ashish ul li img
    {
        height: 100px;
        width: 100px;
    }

    .navbar .nav-wrapper .left
    {
        background: black;
    }

    .card-content .regform input
    {
        width: 100%;
    }
}