
* {
	box-sizing: border-box;
}
body {
	font-family: 'Josefin Sans', sans-serif;
	line-height: 1.6;
	margin: 0;
    min-height: 100vh;
    background-image: url(/images/bg2.png);
    background-size: cover;
    background-color: #353030;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


a {
    text-decoration: none;
}

.navlogo
{
    height: 75px;
    padding: 0;
}

.logo {
    margin: 0;
    margin-left: 1%;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;

}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: #F3CE13;
	font-size: .99em;
}

.main-nav a:hover {
	color: #fff;
}



.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #353030;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/* #bg */
/* { */
    /* margin-top: 0; */
    /* text-align: center; */
    /* z-index: -1; */
    /* height: 500px; */
    /* position: absolute; */
    /* top: 150px; */
    /* left: 500px; */
/* } */

.form
{
    text-align: center;
    margin-top: 20%;
    z-index: +2;
}

.form input
{
    width: 30%;
    height: 2.5rem;
    border-style: none;
    border-bottom-style: ridge;
    border-color: #F3CE13;
    background-color: transparent;
}

.form button
{
    border-style: none;
    display: block;
    margin: auto;
    margin-top: 5%;
    height: 3rem;
    width: 10%;
    font-size: 125%;
    color: #F3CE13;
    background-color: black
}

/* Cards */
.resultlist
{
    margin-top: 5%;
    text-align: center;
}

.resultlist .results
{
    display: inline-block;
    width: 20%;
    padding: 20px;
    margin-bottom: 10px;
}

.resultlist .results .card-img
{
    padding: 0;
    padding-top: 3%;
    border-top-style: solid;border-bottom-style: solid;
    border-color: gray;
    border-radius: 20%;
}
.resultlist .results .card-img a
{
    color: black;
}

.resultlist .results .card-img .movie-poster
{
    height: 300px;
    width: 200px;
    border-radius: 15%;
    box-shadow: 10px 10px 8px #888888
}

.movie-name
{
    font-size: 20px;
}

.movie-name:hover
{
    color: #F3CE13;
}


/* About page */

.attrib
{
    text-align: center;
    margin: 5%;
}
#tmdb
{
    width: 70%;
}

.frame
{
    text-align: center;
}

.aboutimg
{
    height: 100px;
    width: 100px;
}

.tool
{
    display: inline-block;
    margin: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

/* Contact */

.shubh
{
    text-align: center;
    margin: 5%;
}
.shubh h3
{
    color: black;
}

.ashish
{
    text-align: center;
}
.ashish ul li
{
    display: inline;
}
.ashish ul li img
{
    height: 100px;
    width: 100px;
    margin-left: 5%;
    margin-right: 5%;
}


/* moviepage */
.backdrop-mobile
{
    display: none;
}
table
{
    margin: 0;
    padding: 0;
    text-align: left;
    background-size: cover;
    height: 100vh;
}
tr
{
    margin-top: 5%;
    color: rgb(255, 255, 255);
}
td:first-child
{
    width: 30%;
    padding-left: 10%;
    padding-right: 5%;
}
td:last-child
{
    width: 60%;
    padding-right: 10%;
    padding-left: 5%;
}
td p
{
    font-size: 20px;
}
.rating
{
    height: 20px;
    width: 20px;
}
.genreitem
{
    display: inline;
}
/* ================================= 
  Media Queries
==================================== */


@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}
}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}
    
}

@media (max-width: 1080px)
{
    body
    {
        background-image: url(/images/bg_mobile.png);
    }
    #bg
    {
        width: 90%;
        top: 300px;
        left: 30px;
        transform: rotate(90deg);
    }
    .form input
    {
        width: 70%;
    }
    .form button
    {
        width: 30%;
    }
    .resultlist .results
    {
        margin: 5% 0;
        padding: 0;
        width: 48%;
    }
    .resultlist .results .card-img
    {
        padding-top: 5%;
    }
    .resultlist .results .card-img .movie-poster
    {
        height: 200px;
        width: 150px;
    }
    .movie-name
    {
        font-size: 15px;
    }
    td
    {
        text-align: center;
    }
    td:first-child
    {
        width: 100%;
        padding: 0;
        display: block;
    }
    td:last-child
    {
        width: 100%;
        padding: 0;
        display: block;
    }
    .backdrop-mobile
    {
        width: 100%;
        display: block;
        height: 30vh;
    }
}


/*Animations*/
